language: ruby
bundler_args: --without extras --standalone --binstubs
rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - jruby-19mode
  - rbx-19mode
services:
  - redis-server
script: bin/rake ci --trace
notifications:
  email:
    - moz-platform-dev@seomoz.org

